#footer span{
    font-size: 20px;
    font-family: cursive;
    display: flex;
    justify-content: center;
  }

  h3{
    font-size: 20px;
    font-family: cursive;
    color: white;
    display: flex;
 
  }
  span{
    color: brown;
  }

  #footer{
    background-color: black;
    display: flex;
    justify-content: center;
    height: 200px;
    padding: 100px;
    
    
  }

  @media (max-width:768px) {
    h3{
      font-size: 10px;
      font-family: cursive;
      color: white;
      display: flex;
   
    }
    span h3{
      font-size: 10px;
    }
  }