#testimonial {
  /* background-color: #96A9C6; */
  display: flex;
  justify-content: center;
  text-align: center;
  background: brown;
  padding: 30px;
  /* padding: 50px; */
}

#general {
  background-color: brown;
}

#general h2 {
  color: white;
  /* padding: 60px; */
  /* padding-bottom: 0; */
}
#tet{
  font-size: 12px;
}
#testimonial p {
  color: white;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0px 10px;
  font-weight: 100;
}
#two-t {
  padding-top: 40px;
  padding-bottom: 40px;
}
#testimonial p:first-child {
  padding: 0px;
  color: white;
  font-size: 13px;
  font-weight: 200;
  margin: 0px;
}

#testimonial b {
  margin-top: -35px;
  color: black;
  padding-bottom: 0px;
}
.image {
  border-radius: 50%;
  width: 100px;
}

@media (max-width: 768px) {
  #general h2 {
    color: white;
    padding-top: 10px;
    padding-bottom: 0;
  }
  #testimonial {
    /* background-color: #96A9C6; */
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }
  #testimonial b{
    font-size: 15px;
  }
}
