#gen p{
    color: black;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0px 10px;
    font-weight: 100;
}

#gen{
    display: flex;
    justify-content: center;
    margin: 15px;
    
}

#two{
    padding-top: 40px;
}

#ma h4{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 15px;
    margin-top: -10px;
    margin-bottom: 50px;
}

#one, #two, #three{
    width: 350px;
}

#gen svg{
    display: flex;
    justify-content: center;
    margin: auto;
}

h2{
    display: flex;
    justify-content: center;
    padding: 50px;
    font-size: 30px;
}

#gen b{
    padding-top: 25px;
    color: black;
    padding-bottom: 0px;
}
b{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
    color: black;

}
@media (max-width: 768px) {
    #gen{
        display: grid;
        justify-content: center;
        margin: 10px;
        
    }
    #gen b{
      font-size: 15px;
    }
    h2{
        display: flex;
        justify-content: center;
        padding: 50px;
        font-size: 25px;
    }
    b{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        font-size: 17px;
    
    }
    #ma h4{
        display: flex;
        justify-content: center;
        color: black;
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 70px;
    }
  
}